<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table border="1" cellpadding="5">

  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">E-mail</th>
  </tr>


  <tr th:each="user: ${allUsers}">
    <td th:text="${user.getId()}"/>
    <td th:text="${user.getName()}"/>
    <td th:text="${user.getSurname()}"/>
    <td th:text="${user.getEmail()()}"/>
  </tr>

</table>

<a hred="/new">Add new user</a>
</body>
</html>